{% extends "base.html" %}
{% block title %} All Brands {% endblock title %}
{% block content %}

    <style>
        label {
            color: LightGray;
        }

        input {
            width: 30px;

        }

        .dataTables_info {
            color: white;
        }

        a {
            color: royalblue;
        }

        p {
            color: black;
        }

        td {
            color: white;
        }
    </style>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    <div class="row" id="list-cards">
    </div>

    <table class="table">
        <tr class="bg-info">
            <th>Channel</th>
            <th>Last</th>
            <th>Email</th>
        </tr>

        <tbody id="myTable">

        </tbody>
    </table>


    <script>
        var myArray = []

        $.ajax({
            method: 'GET',
            url: 'api/content/',
            success: function (response) {
                myArray = response
                buildTable(myArray)
            }
        })

        function buildTable(data) {
            var table = document.getElementById('myTable')
            for (i in data) {
                dict = JSON.stringify(data[i]['channel'])
                var row = `<tr>
							<td>${JSON.parse(dict).name}</td>
							<td>${data[i].name}</td>
							<td>${data[i].name}</td>
					  </tr>`
                table.innerHTML += row
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

{% endblock %}