{% extends "base.html" %}
{% block title %} All Brands {% endblock title %}
{% block content %}

    <style>
        label {
            color: LightGray;
        }

        input {
            width: 30px;

        }

        .dataTables_info {
            color: white;
        }

        a {
            color: royalblue;
        }

        p {
            color: black;
        }

        td {
            color: white;
        }
    </style>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    <div class="row" id="list-cards">
    </div>

    <script>

        csrftoken = '{{ csrf_token }}'

        function deleteItem(item) {
            console.log('Delete clicked' + item)
            fetch(`api/content/${item}/`, {
                method: 'DELETE',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': csrftoken,
                }
            }).then((response) => {
                swal.fire('Deleted!');
                window.location.reload();
            })
        }

        var myArray = []

        $.ajax({
            method: 'GET',
            url: 'api/content/',
            success: function (response) {
                myArray = response
                buildTable(myArray)
            }
        })

        function buildTable(data) {
            var table = document.getElementById('list-cards')
            for (i in data) {
                {# JSON.stringify to convert object object to json format then covert it to dict #}
                channel_dict = JSON.stringify(data[i]['channel'])
                marketplace_dict = JSON.stringify(data[i]['marketplace'])
                brands_dict = JSON.stringify(data[i]['brands'])
                try {
                    channel_dict_name = JSON.parse(channel_dict).name
                } catch (err) {
                    channel_dict_name = "No channel"
                }
                try {
                    marketplace_dict_img = JSON.parse(marketplace_dict).logo
                } catch (err) {
                    marketplace_dict_img = "No market Image"
                }
                try {
                    brands_dict_img = JSON.parse(brands_dict).image
                } catch (err) {
                    brands_dict_img = "No market Image"
                }
                var row = `<div class="card">
                               <div class="card-body">
                                   <img class="card-img-bottom two" src="${data[i].image}" alt="No image" style="width: 30rem;" >
                                   <img class="card-img-bottom two" src="${marketplace_dict_img}" alt="No market Image" style="width: 10rem;" >
                                   <img class="card-img-bottom two" src="${brands_dict_img}" alt="No Brand Image" style="width: 10rem;" >
                                   <h5 class="card-title" style="color: black">${data[i].name}</h5>
                                   <p class="card-text">${data[i].subject}</p>
                                   <p class="card-text"><small class="text-muted">${channel_dict_name}</small></p>
                               </div>
                               <div>
                                   <button class="btn btn-danger" onclick="deleteItem(${data[i].id})">Delete</button>
                                   </button>
                               </div>
                           </div>`

                table.innerHTML += row
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

{% endblock %}